{% extends 'base.html' %}
{% load humanize %}
{% block title %}Games - JuanGamer{% endblock %}

{% block content %}

<!-- Page Content -->
<div class="container">
    <h3 class="mt-4 mb-3">Games</h3>
    <div class="row">
        {% for post in page_obj %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
            <a href="{% url 'blog:detail' post.slug %}"><img class="card-img-top" src="{{ post.banner.url }}" width="700px" height="200px" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                <a href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a>
                </h4>
                <p class="card-text">{{ post.short_description|default_if_none:"" }}</p>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if is_paginated %}
                <nav>
                    <ul class="pagination justify-content-center" style="margin:20px 0">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <span>Prev</span>
                        </a>
                        </li>
                    {% else %}
                        <li class="disabled page-item">
                        <a class="page-link" href="#">
                            <span>Prev</span>
                        </a>
                        </li>
                    {% endif %}

                    {% for page in page_range %}
                        <li {% if page == page_obj.number %} class="active page-item" {% endif %}>
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span>Next</span>
                        </a>
                        </li>
                    {% else %}
                        <li {% if not page_obj.has_next %}class="disabled page-item"{% endif %}>
                        <a class="page-link" href="#">
                            <span>Next</span>
                        </a>
                        </li>
                    {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
    <br/>
    <!--Reviews Adds 1-->
    <div class="row">   
        <div class="col-md-12">
            <p>{% lorem 1 b random %}</p>
        </div>
    </div>
    <br/>

</div>
<!-- /.container -->

{% endblock %}