{% extends 'base.html' %}
{% load humanize %}

{% block title %}JuanGamer{% endblock %}

{% block content %}

<!-- Homepage feature-->
<header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for feature in features %}
                    {% if forloop.first %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ feature.id }}" class="active"></li>
                    {% else %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ feature.id }}"></li>
                    {% endif %}
            {% endfor %}
        </ol>
        
        <div class="carousel-inner" role="listbox">
            {% for feature in features %}
                    {% if forloop.first %}
                        <div class="carousel-item active" style="background-image: url('{{ feature.banner.url }}')">
                    {% else %}
                        <div class="carousel-item" style="background-image: url('{{ feature.banner.url }}')">
                    {% endif %}
                    <div class="carousel-caption d-none d-md-block">
                        <h1><a class="text-white" href="{% url 'blog:detail' feature.slug %}">{{ feature.title }}</a></h1>
                        <h4>{{ feature.short_description  }}</h4>
                    </div>
                    </div>
            {% endfor %}
        </div>
        

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    
</header>
<!-- End Homepage feature-->

<!-- Page Content -->
<div class="container">
    <br/><br/>
    <!-- Portfolio Section -->
    <h4>Latest Updates</h4>

   <div class="row">
        {% for post in page_obj %}
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
            <a href="{% url 'blog:detail' post.slug %}"><img class="card-img-top" src="{{ post.banner.url }}" width="700px" height="175px" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                <a href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a>
                </h4>
                <p class="card-text">{{ post.content|truncatewords:10 |safe }}</p>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if is_paginated %}
                <nav>
                    <ul class="pagination justify-content-center" style="margin:20px 0">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <span>Prev</span>
                        </a>
                        </li>
                    {% else %}
                        <li class="disabled page-item">
                        <a class="page-link" href="#">
                            <span>Prev</span>
                        </a>
                        </li>
                    {% endif %}

                    {% for page in page_range %}
                        <li {% if page == page_obj.number %} class="active page-item" {% endif %}>
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span>Next</span>
                        </a>
                        </li>
                    {% else %}
                        <li {% if not page_obj.has_next %}class="disabled page-item"{% endif %}>
                        <a class="page-link" href="#">
                            <span>Next</span>
                        </a>
                        </li>
                    {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>


</div>
<!-- /.container -->

{% endblock %}