{% extends 'base.html' %}
{% load humanize %}
{% load hitcount_tags %}

{% block title %}{{ post.title }} - JuanGamer{% endblock %}

{% block content %}

<!-- container -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">{{ post.title }}</h1>

    <p>{{ post.content|safe}}</p>
    <br/>

    <!-- Author -->
      <h3 class="my-4">About</h3>
      <p>{{ post.author.first_name }} {{ post.author.last_name }}</p>
      <img class="rounded-circle" src="{{ post.author.profile_picture.url }}" width="50px" height="50px" alt=""/>
      <p>{{ post.author.profile.short_description }}</p>
    <hr>

    <br/>
    
    <h3 class="my-4">Related Topic</h3>
    {% for related in  related_post %}
        <h2><a href="{% url 'blog:detail' related.slug %}">{{ related.title }}</a></h2>
    {% endfor %}
    

  </div>
<!-- /.container -->


{% endblock %}