{% extends 'base.html' %}
{% load humanize %}

{% block title %}Reviews - Gamer Si Juan{% endblock %}

{% block content %}


<!-- Page Content -->
<div class="container">
    <h3 class="mt-4 mb-3">Reviews</h3>
        <div class="row">
            {% for post in post_reviews %}
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{ post.banner.url }}" width="700px" height="200px" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                    <a href="#">{{ post.title }}</a>
                    </h4>
                    <p class="card-text">{{ post.content|truncatewords:10 |safe }}</p>
                </div>
                </div>
            </div>
        {% endfor %}
        </div>
</div>
<!-- /.container -->

<script>
    $(document).ready(function(){

    });
</script>


{% endblock %}