body {
  color: #222;
}

body.dark {
  background-color: #222;
  color: #fff;
}

/* more dark mode styles here */

footer{
  background-image: url('/static/img/logo/footer_image.png');
  background-size: 100% 100%;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.social-icons {
  text-align: center;
  padding-top: 5px;
  }  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
}

.social-icons li img {
  width:25px;
  height:25px;
  margin-right: 5px;
}

.logo {
  max-width:60%;
  height:auto;
}

.nav-item{
  margin-right: 35px !important;
}

.col-4{
  max-width:100%;
  height:auto;
}

#search-content{
  width: 100%;
  position: absolute !important;
  z-index: 999999 !important;
  top:-18 !important;

}
#search-content input.form-control:focus{
  border-color: #ced4da;
  box-shadow: none !important;
}

#search-content .list-group-item{
  text-align: left !important;
  padding: 0px;
  margin: 0px;
}

#search-content .list-group-item:first-child{
  border-top-left-radius:0 !important;
  border-top-right-radius:0 !important;
}

#search-content .btn-outline-secondary{
  border-color:#ced4da !important;
}


#search-content a{
  color: black !important;
  font-size: 14px !important;
  display:block;
  text-decoration: none;
}

#search-content a:hover{
  background-color:#f5f5f5;
}

#search-content p{
  margin: 0;
  padding: 0.35rem !important;
}

/* Start Image Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.img-viewer {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* img-viewer Content (image) */
.img-viewer-content {
  margin: auto;
  display: block;
  width: 75%;
  max-width: 65%;
}

/* Add Animation */
.img-viewer-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.card span {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f3efef;
  width: auto;
  color: #505050;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 10px;
  font-weight: 600;
  padding: 2 2;
}

/* For edge browser only */
_:-ms-lang(x), .card { height: auto !important;}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .img-viewer-content {
    width: 100%;
  }
}
/* End Image Modal */

@media screen and (max-width: 600px) {
  .d-none {
    display: block !important;
  }
  h1 a{
    font-size: 20px !important;
  }
  h4 {
    font-size: 18px !important;
  }
  
  p img{
      object-fit:cover !important;
  }
  .logo {
    max-width:100%;
    height:auto;
  }
  .col-4{
    padding-right: 0 !important;
  }

  .card-img-top{
    object-fit:cover !important;
  }

  iframe{
    max-width:100%;
  }
  
}